.message{
    margin: 10px ;
    width: fit-content ;
    padding:10px
}
.message-user{
   margin-left : auto;
   color:white; 
   text-align : left;
}
.message-guestCard{
    background-color:#e9c9eb !important;
}
.message-userCard{
    background-color: #0b81ff !important;
}